*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    height: 4rem;
    width: 100%;
    background-color: #211832;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    color: white;
    z-index: 5;
}

#logo{
    margin-top: 0.3rem;
    height: 9.5rem;
}

.flow-over{
    overflow: hidden;
}

.logo{
    height: 3rem;
    width: 7.9rem;
}

.search{
    height: 2.7rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.find{
    height: 100%;
}

#search-all{
    width: 5rem;
    background-color: rgb(155, 151, 151);
    border-radius: 0.5rem 0 0 0.5rem;
}

#search-all:hover{
    background-color: rgb(124, 119, 119);
    cursor: pointer;
}

#search-pannel{
    width: 40rem;
    height: 2.7rem;
    border: none;
    padding-left: 5px;
    font-size: 1rem;
    color: black;
}

#search-icon{
    width: 5rem;
    background-color: rgb(234, 168, 44);
    border-radius: 0 0.5rem 0.5rem 0;
}

#search-icon:hover{
    background-color: rgb(222, 145, 4);
    cursor: pointer;
}

#flag{
    height: 2rem;
    margin-top: 1rem;
    padding-right: 0.5rem;
}

#cart{
    height: 7rem;
}

.div-box{
    height: 3rem;
    margin: 5px;
    padding: 0 10px;
}

.div-box:hover{
    outline: 1px solid white;
    cursor: pointer;
}

#dummy-nav{
    height: 4rem;
    width: 100%;
    background-color: rgb(21, 113, 194);
}

main{
    height: 40rem;
    width: 100%;
}

.body1{
    height: 100%;
    width: 100%;
    background-image: url("Images/HomePage.jpg");
    background-size: cover;
}

.task-bar{
    height: 2.7rem;
    width: 100%;
    background-color: #232F3E;
    display: flex;
    align-items: center;
    justify-content: left;
}

.tasks{
    margin: 0.5rem 1rem;
    padding: 0.6rem 0.5rem;
    color: white;
}

.tasks:hover{
    outline: 1px solid white;
    cursor: pointer;
}

.image-dummy{
    height: 15rem;
    width: 100%;
    background-color: transparent;
}

.home-img-btn{
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    border: none;
    font-size: xx-large;
    position: relative;
    top: 7rem;
    z-index: 0;
    opacity: 0.8;
}

#left-button{
    right: 1rem;
}

#right-button{
    left: 90rem;
}

.containers{
    height: 56rem;
    width: 100%;
    /* background-color: rgb(248, 16, 16); */
    background-color: transparent;
    top: 17rem;
    /* opacity: 0.7; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

}

.box{
    height: 27rem;
    width: 22rem;
    background-color: rgb(235, 228, 228);
    margin: 0px 10px 0px 10px;
    padding: 1.5rem;
}

.heading{
    height: 15%;
    width: 100%;
    /* background-color: red; */
}

.image{
    height: 70%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}

.photo{
    height: 8rem;
    width: 9rem;
    /* background-color: hotpink; */
    margin: 4px;
    font-size: small;
    /* font-weight: 500; */
}

.explore{
    height: 15%;
    width: 100%;
    /* background-color: rgb(251, 255, 0); */
    display: flex;
    align-items: center;
}

.box-img{
    width: 100%;
}

.single-image{
    height: 70%;
    width: 100%;
}

.box-single-img{
    height: 100%;
    width: 100%;
}

.outer-rectangle{
    height: 17rem;
    width: 97%;
    background-color: crimson;
    margin: 1.3rem;
    overflow: hidden;
}

.rectangle1{
    height: 15rem;
    width: 200rem;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: absolute;
    top: 84rem; */
}

.rectangle-boxes{
    height: 13rem;
    width: 13rem;
    background-color: chartreuse;
    margin: 1rem 0 1rem 0;
    
}

.rect-btn{
    height: 6rem;
    width: 4rem;
    background-color: rgb(255, 255, 255);
    z-index: 4;
    top: 4rem;
    margin: 0.5rem;
    font-size: x-large;
    color: rgba(0, 0, 0, 0.592);
    border: none;
    top: 87.5rem;
    /* visibility: hidden; */
}

#left-rect-btn{
    position: absolute;
    border-radius: 0 4px 4px 0;
    left: 0.8rem;

}

#right-rect-btn{
    position: absolute;
    border-radius: 4px 0 0 4px;
    left: 89rem;
}